.containers{
	width:auto;
	height:auto;
	color:black;
}
.orderTitle{
	width:680px;
	height:30px;
	font-size:20px;
	margin:0 auto;
	margin-top:30px;
}
.downline{
	width:680px;
	height:1px;
	margin:0 auto;
	background-color:#80ffff;
}
.receiver{
	width:680px;
	border:1px solid #80FFFF;
	margin:0 auto;
	height:auto;
	margin-top:20px;
	border-left:0px;
	border-right:0px;
}
.info{
	margin-top:10px;
	font-size:18px;
}
.receiverInfo{
	padding-left:70px;
	padding-top:10px;
	font-size:13px;
	padding-bottom:10px;
}
.receive{
	width:680px;
	margin:0 auto;
	height:auto;
	padding-top:5px;
}
.butt{
	padding-left:70px;
	padding-top:10px;
	font-size:13px;
	padding-bottom:10px;
}
.butt button.btnn{
	border:1px solid #cccccc;
	background-color:white;
	height:30px;
}
.bttn{
    border:1px solid #cccccc;
	background-color:white;
	margin-left:40px;
	height:30px;
}
.nav1{	
    font-size:13px;
	margin-top:20px;
	width:680px;
	height:auto;
}
.nav1 table{
    width:680px;
	height:auto;
	margin-left:0px;
}
.nav11{
	width:320px;
	text-align:center;
	border-bottom:2px solid #80ffff;
}
.nav12{
	width:120px;
	text-align:center;
	border-bottom:2px solid #80ffff;
}
.shoper{
	padding-top:10px;
	font-size:13px;
	padding-bottom:5px;
	width:680px;
	margin:0 auto;
	height:auto;
}
.orderDe{
	font-size:13px;
	width:680px;
	height:auto;
	margin:0 auto;
	margin-top:5px;
}
.orderDe table{
	height:auto;
	width:680px;
	margin-left:0px;
}
.orderDe table td.test1{
	width:320px;
	height:auto;
}
.orderDe table td.test1 img{
	width:90px;
	height:auto;
	margin-left:0px;
	
}
.orderDe table td.test1 p{
   	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	width:230px;
	height:auto;
	color:black;
	margin-top:0px;
}
.orderDe table td.common{
	width:120px;
	height:auto;
	text-align:center;
}
a:link{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.same{
	width:680px;
	height:auto;
	text-align:right;
	margin-right:0px;
}
.pay{
	font-weight:bold;
	font-size:20px;
	color:red;
    margin-top:-10px;
}
.commit{
	height:auto;
	width:680px;
	margin:0 auto;
	text-align:right;
	margin-top:10px;
}
.commit input{
	text-align:center;
	height:30px;
	width:120px;
	border:0px;
	background-color:#e3170d;
	cursor:pointer;
}